* {
    box-sizing: border-box;
}

body{
    width: 960px;
    margin: auto;
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Lobster', cursive;
    /* background-color: rgb(235, 198, 204); */
    background-image: url('https://pbblogassets.s3.amazonaws.com/uploads/2018/10/22074923/pink-sky-cover.jpg');
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

} 
main
{
    
}

footer
{
    text-align: center;
    width: 100%;
    float: left;
    padding: 20px;
    background-color: rgb(235, 198, 204);
    /* background-color: rgb(77, 106, 201); */
}

#select
{
    background-color:  rgb(235, 198, 204);
}
#sort
{
    background-color:  rgb(235, 198, 204);
}