h1
{
    text-align: center;
    background-color: rgb(77, 106, 201);
    padding: 10px;
}
h2{
    font-size: 20px;
}
header
{
    padding: auto;
    text-align: center;
    align-items: center;
}
div

{
    
    text-align: center;
    align-items: center;
    height: 350px;
    width: 220px;

    border: 0.5px solid;
    margin:7px;
    overflow: visible;

 

}

section{
  display: flex;
  flex-wrap: wrap;

}
section img {
   
    width: 150px;
    height: 150px;
   
   
    
  }
    
  option
  {
    font-family: 'Lobster', cursive;
  }


p {
    font-size: 15px;
    
}
#select2
{
  text-align: center;
    align-items: center;
}